
/*
Bootstrap page: includes general styling.
*/

/********************************
reset
********************************/
/*
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}
*/


/********************************
general styles
********************************/

body {
	background-color: #EEE;
	background-image: url('../images/bkgdtexture.jpg');
	margin: 0;
	padding: 0;
	font-family: arial, sans-serif;
	font-size: 0.85em;
	color: #8D8D8D;
}

.container {
	width: 960px;
	margin: 0 auto;
}

*::selection {
	background: red;
	color:#fff;
}

*::-moz-selection {
	background: red;
	color:#fff;
}

*::-webkit-selection {
	background: red;
	color:#fff;
}

*::-O-selection {
	background: red;
	color:#fff;
}
	

/********************************
Top Navigation
********************************/

header {
	min-width: 960px;
	height: 50px;
	padding: 10px 0 0;
	background-color: #FFF;
}

.inner {
	width: 760px;
	margin: 0 auto;
	padding: 0;
}

.inner img {
	float: left;
	margin-top: -22px;
	margin-right: 30px;
}

nav {
	width: 900px;
	margin: 0 auto;
	margin-top: 15px;
}

header ul {
	list-style: none;
}

nav li {
	float: left;
	font-size: 0.85em;
	text-transform: uppercase;
}

nav li:last-child {
	margin-right: 0px;
}

header nav ul li a {
	text-decoration: none;
	color: #8D8D8D;
	margin-right: 45px
}

header nav ul li a:hover {
	position: relative;
	text-decoration: none;
	background-color: #D6111B;
	color: white;
	border-radius: 0 10px 0 10px;
	padding: 5px;
	margin-right: 35px;
	z-index: 100000;
}


/********************************
Top Navigation Dropdown
********************************/

header nav li ul.dropdown {
	display: block;
 	background-color: #FFF;
 	text-align: right;
 	margin-left: 11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
    position: absolute;
    border-radius: 0 0px 10px 0px;
    top: -100px;
    line-height: 20px;
    z-index: 100;
    opacity: 0;
    transition:opacity 0.2s ease-in;
	-webkit-transition:opacity 0.2s ease-in;
	-moz-transition:opacity 0.2s ease-in; 
	-O-transition:opacity 0.2s ease-in; 
  }
  
header nav li:hover ul.dropdown {
	display: block;
	top: 38px;
	opacity: 1;
}
  
 header nav ul.dropdown li {
 	float: none;
 	border-bottom: 1px dotted #8D8D8D;
 }
 
 header nav ul.dropdown li:last-child {
 	float: none;
 	border-bottom: none;
 }
  
 header nav ul.dropdown li a {
 	background: none;
 	margin: 0;
 	padding: 0;
 }
  
header nav ul.dropdown li a:hover {
 	color: #D6111B;
 	text-decoration: none;
 	
 }
 
 #who {
	width: 100px;
 }
 
 #funding {
 	width: 150px;
 }

#contact {
	width: 100px;
 } 
 

/*
Layout page: includes all layout framework. 
*/

/********************************
Header Images
********************************/

#hero {
	min-width: 960px;
	background: repeat-x;
	height: 590px;
	border-bottom: 8px solid #FFF;
	overflow: hidden;
}

#hero img {
	float: left;
	max-width: 100%;
	max-height: 100%;		
}

.herowidth {
	width: 9000em;
}


/********************************
horizontal rules
********************************/

#mainrule {
	width: 960px;
	padding-bottom: 20px;
	padding-top: 12px;
	border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
	border-top: 2px dotted rgba(0, 0, 0, 0.2);
	margin-top: 15px;
}


/********************************
home boxes
********************************/

.box {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 20px 0 20px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.box p:first-letter {
 font-size : 4em;
 color: #D6111B;
 float: left;
 margin-top: 10px;
 margin-bottom: 1px;
 letter-spacing: 10px;
 text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
 }

.box2 {
	width: 920px;
	background-color: #FFF;
	border-radius: 0px 0px 20px 0px;
	padding: 10px 20px 20px 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}


/********************************
sub boxes
********************************/

.boxSub {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 20px 0 20px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.boxSub1 {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 20px 0 0px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

/* --------- boxSub1 Slim Version ------------------------- */

.boxSub1slim {
	width: 320px;
	background-color: #FFF;
	border-radius: 0 20px 0 0px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

/* ---------------------------------- */

.boxSub2 {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 0px 20px 0px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.boxSub3 {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 0px 0 20px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.boxSub4 {
	width: 920px;
	background-color: #FFF;
	border-radius: 20px 0px 0 0px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.boxSubMiddle {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 0px 0 0px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

/* ------------------------------ sub paragraph styles ----------------- */

.boxSub3isrc {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 0px 0 20px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.boxSub1isrc {
	width: 920px;
	background-color: #FFF;
	border-radius: 0 20px 0 0px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.boxSub3isrc p:first-letter {
 font-size : 4em;
 color: #D6111B;
 float: left;
 margin-top: 10px;
 margin-bottom: 1px;
 letter-spacing: 10px;
 text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
 }
 
 .boxSub3isrc p.first {
 margin-left: 9px;
 }
 
 

 .boxSub1isrc p:first-letter {
 font-size : 4em;
 color: #D6111B;
 float: left;
 margin-top: 10px;
 margin-bottom: 1px;
 letter-spacing: 10px;
 text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
 }

 .boxSub1isrc p.first {
 margin-left: 9px;
 }

  

/********************************
bio boxes
********************************/

#bioposition {
	margin: 0 auto;
}

#bioposition .biobox {
	float: left;
}

.biobox {
	width: 130px;
	height: 130px;
	background-color: #FFF;
	border-radius: 0 20px 0 20px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: -70px;
	margin-right: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}

.biobox2{
	width: 130px;
	background-color: #FFF;
	border-radius: 0 20px 0 20px;
	padding: 15px 20px 20px 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2),
				0 1px 1px rgba(255, 255, 255, 0.8);
}


/********************************
typography
********************************/

@font-face {
    font-family: 'EnglandHandDBRegular';
    src: url('england-webfont.eot');
    src: url('england-webfont.eot?#iefix') format('embedded-opentype'),
         url('england-webfont.woff') format('woff'),
         url('england-webfont.ttf') format('truetype'),
         url('england-webfont.svg#EnglandHandDBRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
	line-height: 1.75em;
}

.col2 {
	-webkit-column-count: 2;
}

.heading {
	font-family: EnglandHandDBRegular;
	font-size: 1.5em;
	line-height: 1.5em;
	font-style: italic;
	font-weight: bold;
	text-shadow: 0 1px 0px #FFF;
	margin-top: 15px;
}

#intro {
	font-size: 1.25em;
	color: #D6111B;
	font-weight: 100;
	line-height: 1.5em;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 15px;
	margin-right: 0px
}

#intro_subrule {
	border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
	width: 960px;
	margin-bottom: 20px;
}

.introSub {
	font-size: 1.25em;
	color: #D6111B;
	font-weight: 100;
	line-height: 1.5em;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 22px;
	margin-top: 15px;
	margin-right: 0px
}

.introSub2 {
	font-size: 1.25em;
	font-style: italic;
	font-weight: 100;
	line-height: 1.5em;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 22px;
	margin-top: 15px;
	margin-right: 0px
}

.mission h2 {
	text-align: center;
	font-size: 2.75em;
	color: #D6111B;
	font-weight: 500;
	line-height: 2em;
	text-transform: uppercase;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
	border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

h3 {
	margin-left: 20px;
	margin-top: 25px;
}

.portfolio1 {
	font-size: 2em;
	color: #D6111B;
	font-weight: 100;
	margin-left: 0px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	border-bottom: 2px dotted rgba(0, 0, 0, 0.2);
}

.portfolio2 {
	font-size: 2em;
	color: #D6111B;
	font-weight: 100;
	margin-left: 0px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
}

p.ray:first-letter {
 font-size : 4em;
 float: left;
 margin-top: 10px;
 margin-bottom: 1px;
 letter-spacing: 10px;
 text-shadow: 0 -1px 1px rgba(0,0,0,0.8);
}

p.rayGold:first-letter {
 font-size : 4em;
 color: #FFD130;	
 float: left;
 margin-top: 10px;
 margin-bottom: 1px;
 letter-spacing: 10px;
 text-shadow: 0 -1px 1px rgba(0,0,0,0.8);
}

.Gold {
	color: #FFD130;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
 
p.initial:first-letter {
 font-size : 4em;
 color: #D6111B;
 float: left;
 margin-top: 10px;
 margin-bottom: 1px;
 letter-spacing: 10px;
 text-shadow: 0 -1px 1px rgba(0,0,0,0.8);
}

.mission ul {
	line-height: 1.7em;
	font-style: italic;
}


/********************************
search
********************************/



input.search {
	display: none;
}


/********************************
footer
********************************/

footer {
	min-width: 960px;
	height: 70px;
	background-color: #FFF;
	margin-top: 0px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

#sublabel {
	min-width: 960px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 45px;
	background-color: none;
	border-top: 2px dotted rgba(0, 0, 0, 0.2);
}


footer ul {
	list-style: none;
}

footer li {
	float: left;
	margin-right: 10px;
	margin-top: 40px;
}

#legal {
	color: #8D8D8D;
	position: relative;
	font-size: 0.8em;
	margin: 0 auto;
	width: 386px;
}

#legal ul li a {
	color: #8D8D8D;
}

#legal ul li a:hover {
	color: #8D8D8D;
	text-decoration: none;
}


.list ul {
	list-style: none;
}

.list li {
	text-transform: uppercase;
	font-size: 1.1em;
	float: left;
	margin-top: 10px;
	margin-right: 40px;
}

#subnav {
	color: #8D8D8D;
	position: relative;
	font-size: 0.8em;
	margin: 0 auto;
	margin-left: 300px;
	width: 400px;
}

#subnav ul li a {
	color: #D6111B;
	text-decoration: none;
}

#subnav ul li a:hover {
	color: #8D8D8D;
	text-decoration: none;
	background-color: #D6111B;
	color: white;
	border-radius: 0 10px 0 10px;
	padding: 5px;
	margin-right: -10px;
}


/********************************
footer logo
********************************/

#footerLogo {
	background-image: url('../images/footer_logo.png');
	width: 465px;
	height: 315px;
	margin: 0 auto;
}

#logoborder {
	border-top: 2px dotted rgba(0, 0, 0, 0.2);
	width: 960px;
	margin: 0 auto;
	margin-top: 25px;
	padding-top: 10px;

}


/********************************
Contact
********************************/

address p {
	line-height: 1.4em;
	margin-left: 20px;
}

#formPlace {
	margin-left: 20px;
}

form p { 
	position:relative;
	color: #000;
	font-size: 0.85em;
}

label  { position:absolute; top:6px; left:15px}


input.text {
	padding-left: 10px;
	width: 290px;
	height: 25px;
	outline: none;
	border-radius: 6px;
	border: none;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.7);	
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.7);	
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

input.text:hover {
	background-color: #D6111B;;
	color: white;
}

input.text:focus {
	background-color: #D6111B;;
	color: white;
}

textarea {
	outline: none;
	padding: 10px;
	padding-top: 6px;
	border-radius: 6px;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.7);	
	border: none;
	-webkit-transition: background-color, 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
}

textarea:hover {
	background-color: #D6111B;;
	color: white;
}

textarea:focus {
	background-color: #D6111B;;
	color: white;
}

select {
	width: 300px;
}

#commentForm label.error[for=message] {
	margin-left: 525px;
}


#commentForm label.error {
	margin-left: 300px;
	color: red;
}


/********************************
temporary email link
********************************/

address a:link {
	text-decoration: none;
	 color: #D6111B;
}

address a:hover {
	text-decoration: underline;
	 color: #D6111B;
}


/********************************
terms and conditions
********************************/

#terms {
	margin-bottom: 30px;
}

#terms p {
	text-align: justify;
	text-transform: uppercase;
	font-size: 11px;
}

#terms h5 {
	font-size: 16px;
	font-weight: bold;
	margin: 25px 0 0px 0;
	text-shadow: 0px 1px 0px white;
}

.agree {
	color: #D6111B;
	font-size: 16px;
	padding-left: 10px;
	margin-top: -4px;
}

/*photo gallery*/

.mission img {
	max-width: 100%;
}

